h1 {
    margin-top: 20px;
    min-height: 70px;
    
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    margin-left: 15px;
}

.text-background {
    background-color: #999999;
    padding: 2%;
    margin-bottom: 20px;
}